<h2>Cadastro e edição de vagas</h2>

<form>
  <label>ID</label>
  <input type="number" [(ngModel)]="vaga.id" name="id" placeholder="Id" />
  <br />
  <label>Nome</label>
  <input type="text" [(ngModel)]="vaga.nome" name="nome" placeholder="Nome da vaga" />
  <br />
  <label>Foto</label>
  <input type="text" [(ngModel)]="vaga.foto" name="foto" placeholder="Nome do arquivo de imagem" />
  <br />
  <label>Descrição</label>
  <input type="text" [(ngModel)]="vaga.descricao" name="descricao" placeholder="Descrição da vaga" />
  <br />
  <label>Salário</label>
  <input type="number" [(ngModel)]="vaga.salario" name="salario" placeholder="Salário" />
  <br />

  <button type="button" (click)="cadastrarVaga()">Cadastrar Vaga</button>
  <button type="button" (click)="atualizarVaga(vaga.id)">Atualizar Vaga</button>
  <button type="button" (click)="excluirVaga(vaga.id)">Excluir Vaga</button>
</form>

<section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>ID Vaga</th>
        <th>Vaga</th>
        <th>Descrição</th>
        <th>Salário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vagas">
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.descricao }}</td>
        <td>R$ {{ item.salario }},00</td>
        <td>
          <button type="button" (click)="listarVagaUnica(item)">Selecionar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
